body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.top-navbar {
    flex: 0 1 auto;
}

.site-content {
    flex: 1 1 auto;
}

.footer {
    width: 100%;
}

h1 {
    font-size: 3rem;
}